---
  export interface Props {
    title: string;
  }
  const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body class="h-screen dark:bg-slate-950 bg-gradient-to-b from-slate-900 via-slate-600 to-slate-300">
  <slot/>
</body>
</html>